/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffcf2;
}

/*Even bgimg*/
.bgimg {
background-image: url("../img/1.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
position: relative;
}

/* Event Information Header */
.event-info {
  background-color: #004a9990;
  height: fit-content;
  color: white;
  padding: 80px;
  text-align: center;
  position: absolute;
  bottom: 20%;
  text-shadow: 2px 2px #0d3b66;
}

.event-info h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.event-info p {
  font-size: 18px;
  line-height: 1.5;
}

.event-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Registration Form */
.registration-form {
  background-color: white;
  padding: 40px;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.registration-form h2 {
  text-align: center;
  color: #333;
}

.registration-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.registration-form input, .registration-form select, .registration-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.registration-form input[type="submit"] {
  background-color: #004a99;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.registration-form input[type="submit"]:hover {
  background-color: #003366;
}

.registration-form h1, .registration-form h2, .registration-form h3 {
  text-align: center;
}
/* Responsive Design */
@media (max-width: 768px) {
  .registration-form {
    width: 90%;
  }

  .event-info h1 {
    font-size: 30px;
  }

  .event-info h3 {
    font-size: 25px;
  }

  .event-info p {
    font-size: 18px;
  }
}
