table {
  border-collapse: collapse;
}

table, th, td { 
  border: 1px solid black; 
  text-align: left; 
  padding-right: 50px;
}

th {
  background-color: red;
  color: white;
}

tr:nth-child(even) {
  background-color: yellow;
}

tr:nth-child(odd) {
  background-color: #fcfcfc;
}
